div {
  position: absolute;
  text-align: center;
  width: 30%;
  height: 20%;
}
div.A {
  border: thin solid red;
  background: yellow;
  left: 25%;
  top: 30%;
}
div.B {
  border: thin solid blue;
  background: white;
  left: 40%;
  top: 40%;
}
