<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link href="/css/auctions.css" rel="stylesheet">
        <link href="/css/album.css" rel="stylesheet">
        <script src="/js/chat.js" ></script>

    </head>
    <body class="bg-light">

        <header>
            <% include ../partials/header %>
        </header>

        <main role="main" class="container">
            <p></p>
            <div style="overflow: auto;background: lightyellow;border-radius: 20px;border: 1px solid lightgrey;" id="chatContainer">
                <% messages.forEach( (message) => { %>
                    <%- include('../partials/chatMessage', {message,user_id}) %>
                <% }); %>
            </div>
            
            <div> 
            <h6 class="border-bottom border-gray pb-0 mb-0" style="margin-top:10px;"></h6>
            <p></p>
            <input autofocus placeholder="Write message..." style="background: lightyellow;border-radius:10px; padding: 10px;width:87%; resize: none;margin-top:0px;border: none;overflow: auto;outline: none;box-shadow:none;border:1px solid lightgrey;font-size:5 px;"> 
            <input  type="button" value=">" style="float:right;width:12%;height:45px;background: lightblue;border-radius:10px;  "></div>
            </div>

           
        </main>
          
        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

      
    </body>
</html>
