<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link href="/css/auctions.css" rel="stylesheet">
    </head>
    <body class="bg-light">

        <header>
            <% include ../partials/header %>
        </header>

   
        <main role="main" class="container">
            <div class="my-3 p-3 bg-white rounded box-shadow">
                <h6 class="border-bottom border-gray pb-2 mb-0">Recent auctions</h6>

                <%- include('../partials/auctionLink', {auction: {id: 1,isBuyNow: false,title: 'Car', description: 'good car', price: '20.00',end: '2018.02.02 12:12:12'}}); %>
                <%- include('../partials/auctionLink', {auction: {id: 1,isBuyNow:true,title: 'Car', description: 'good car', price: '20.00',end: '2018.02.02 12:12:12'}}); %>

                <small class="d-block text-right mt-3">
                    <a href="#">All updates</a>
                </small>
            </div>
        </main>
          
        
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
