<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/head %>
        <link href="/css/auctions.css" rel="stylesheet">
        <link href="/css/album.css" rel="stylesheet">
    </head>
    <body class="bg-light">

        <header>
            <% include ../partials/header %>
        </header>

        <main role="main">
       
                <div class="album py-5 bg-light">
                    <div class="container">
                        <div class="row">
                            <% auctions.forEach( (auction) => { %>
                                <%- include('../partials/auctionLink', {auction}); %>
                            <% }); %>
                        </div>
                    </div>
                </div>
           
            </main>
          
        
        <footer>
            <% include ../partials/footer %>
        </footer>

    </body>
</html>
