<!-- views/pages/login.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <!-- Custom styles for this template -->
        <link href="/css/signin.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <% include ../partials/header %>
            <% include ../partials/message %>
        </header>
        <main role="main" class="container">
                <form class="form-signin" action='/login' method='POST'>
                        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                        <input type="text" name="username" class="form-control" placeholder="Email address" required autofocus>
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                        <p style="text-align: center"><a href ="/signup"> Create new account </a></p>
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                </form>
                
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
    </body>
</html>