body {
  height: 500px;
}
div#outer {
  display: flex;
  align-items: center;
  justify-content: center;
}
div#outer .box {
  width: 100px;
  height: 100px;
  margin: auto;
}
div#outer .box:nth-child(1) {
  align-self: flex-start;
  background: #999999;
}
div#outer .box:nth-child(2) {
  max-width: 50%;
  background: #b3b3b3;
}
div#outer .box:nth-child(3) {
  align-self: flex-end;
  background: #cccccc;
}
